---
 import { getImage } from 'astro/assets';
---
<section>
  <div>
    <div>
      <img src="" alt="">
    </div>
    <div>
        <div>
            <ul>
                <li><a href="/">Inicio</a></li>s
                <li><a href="/empresa">Empresa</a></li>
                <li><a href="/asfalto">Asfalto</a></li>
                <li><a href="/equipo">Equipo</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
            </ul>
        </div>
    </div>
    <div></div>
  </div>
</section>
